# IntelliJ
.idea/
*.iws
*.iml
**/*.iml
*.ipr

#Eclipse
.springBeans
.classpath
.settings/
.loadpath
.project

gradle/
.gradle/
output/
.build/
out/
bin/
gen/
target/
classes/
*.class
.temp/
.timestamp
rebel.xml
*.DS_Store
${java.io.tmpdir}/
data/temp/
data/.timestamp/
.springBeans
makebuild.sh
gradlew
gradlew.bat
local.properties
pgp1.keystore.bak
pgp1.keystore
.DS_Store
.gitattributes
gradleUnitTestOutput/
gradleIntTestOutput/
